*{
    margin: 0;
    padding: 0;
}

/* header section style here */
#header-section{
    width: 100%;
    font-family: "Fira Sans", serif;
}
#header-section .header-section-content{
    display: flex;
    margin: 30px 192px;
    justify-content: space-between;
    align-items: center;
}
#header-section .header-section-content .left-content h1{
    font-size: 42px;
    font-weight: 700px;
}
#header-section .header-section-content .right-content button{
    border-radius: 10px;
    color: rgb(0, 106, 80);
    background-color: white;
    padding: 20px 51px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgb(0, 106, 80);
}
#header-section .header-section-content .right-content button:hover{
    background-color: rgb(0, 106, 80);
    color: white;
    cursor: pointer;
}

/* banner section style here*/
#banner-section{
    width: 100%;
    font-family: "Fira Sans", serif;
}
#banner-section .banner-section-content{
    display: flex;
    justify-content: space-between;
    background-color: rgb(198, 228, 214);
    height: 560px;
    margin: 24px 192px;
    padding: 71px;
    border-radius: 25px;
}
#banner-section .banner-section-content .left-content{
    display: block;
    margin: auto 0;
}
#banner-section .banner-section-content .left-content p{
    font-size: 29px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}
#banner-section .banner-section-content .left-content h1{
    font-size: 67px;
    font-weight: 700;
    width: 730px;
    margin-top: 19px;
    margin-bottom: 29px;
}
#banner-section .banner-section-content .left-content button{
    border-radius: 10px;
    background: rgb(0, 106, 80);
    color: white;
    padding: 20px 51px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgb(0, 106, 80);
}
#banner-section .banner-section-content .left-content button:hover{
    background: rgb(247, 248, 248);
    color: rgb(0, 106, 80);
    cursor: pointer;
}
#banner-section .banner-section-content .right-content {
    display: block;
    margin: auto 0;
}

/* Vision of Future section style here */
#Vision-of-Future-section{
    width: 100%;
    font-family: "Fira Sans", serif;
}
.Vision-of-Future-section-content{
    margin: 24px 192px;
}
.Vision-of-Future-section-content h1{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}
.Vision-of-Future-section-content .description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
}
.Vision-of-Future-cards{
    display: flex;
    gap: 20px;
}
.Vision-of-Future-card-item-1{
    background-color: rgba(84, 144, 245, 0.2);
    padding: 40px;
    border-radius: 20px;
}
.Vision-of-Future-card-item-1 h3{
    font-size: 25px;
    font-weight: 600;
    margin: 12px 0px;
}
.Vision-of-Future-card-item-1 p{
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0px;
    height: 80px;
}
.Vision-of-Future-card-item-1 button{
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(84, 144, 245);
    color: white;
    padding: 10px 20px;
    border: 1px solid rgb(84, 144, 245);
    border-radius: 8px;
}
.Vision-of-Future-card-item-1 button:hover{
    color: rgb(84, 144, 245);
    background-color: white;
    cursor: pointer;
}

.Vision-of-Future-card-item-2{
    background-color: rgb(198, 228, 214);
    padding: 40px;
    border-radius: 20px;
}
.Vision-of-Future-card-item-2 h3{
    font-size: 25px;
    font-weight: 600;
    margin: 12px 0px;
}
.Vision-of-Future-card-item-2 p{
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0px;
    height: 80px;
}
.Vision-of-Future-card-item-2 button{
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(9, 161, 92);
    color: white;
    padding: 10px 20px;
    border: 1px solid rgb(9, 161, 92);
    border-radius: 8px;
}
.Vision-of-Future-card-item-2 button:hover{
    color: rgb(9, 161, 92);
    background-color: white;
    cursor: pointer;
}

.Vision-of-Future-card-item-3{
    background-color: rgb(247, 235, 207);
    padding: 40px;
    border-radius: 20px;
}
.Vision-of-Future-card-item-3 h3{
    font-size: 25px;
    font-weight: 600;
    margin: 12px 0px;
}
.Vision-of-Future-card-item-3 p{
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0px;
    height: 80px;
}
.Vision-of-Future-card-item-3 button{
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(255, 194, 57);
    color: white;
    padding: 10px 20px;
    border: 1px solid rgb(255, 194, 57);
    border-radius: 8px;
}
.Vision-of-Future-card-item-3 button:hover{
    color: rgb(255, 194, 57);
    background-color: white;
    cursor: pointer;
}