*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(245, 245, 245);
    font-family: "Fira Sans", serif;
}

/* header section style here */
#header-section .header-section-content{
    display: flex;
    margin: 30px 192px;
    justify-content: space-between;
    align-items: center;
}
#header-section .header-section-content .left-content h1{
    font-size: 42px;
    font-weight: 700px;
}
#header-section .header-section-content .right-content button{
    border-radius: 10px;
    color: rgb(0, 106, 80);
    background-color: white;
    padding: 20px 51px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgb(0, 106, 80);
}
#header-section .header-section-content .right-content button:hover{
    background-color: rgb(0, 106, 80);
    color: white;
    cursor: pointer;
}

/* banner section style here*/
#banner-section .banner-section-content{
    display: flex;
    justify-content: space-between;
    background-color: rgb(198, 228, 214);
    height: 560px;
    margin: 35px 192px;
    padding: 71px;
    border-radius: 25px;
}
#banner-section .banner-section-content .left-content{
    display: block;
    margin: auto 0;
}
#banner-section .banner-section-content .left-content p{
    font-size: 29px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}
#banner-section .banner-section-content .left-content h1{
    font-size: 67px;
    font-weight: 700;
    width: 730px;
    margin-top: 19px;
    margin-bottom: 29px;
}
#banner-section .banner-section-content .left-content button{
    border-radius: 10px;
    background: rgb(0, 106, 80);
    color: white;
    padding: 20px 51px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgb(0, 106, 80);
}
#banner-section .banner-section-content .left-content button:hover{
    background: rgb(247, 248, 248);
    color: rgb(0, 106, 80);
    cursor: pointer;
}
#banner-section .banner-section-content .right-content {
    display: block;
    margin: auto 0;
}

/* Vision of Future section style here */
.Vision-of-Future-section-content{
    margin: 60px 192px;
}
.Vision-of-Future-section-content .section-title{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}
.Vision-of-Future-section-content .description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
}
.Vision-of-Future-cards{
    display: flex;
    gap: 20px;
}
.Vision-of-Future-card-item-1{
    background-color: rgba(84, 144, 245, 0.2);
    padding: 40px;
    border-radius: 20px;
}
.Vision-of-Future-card-item-1 h3{
    font-size: 25px;
    font-weight: 600;
    margin: 12px 0px;
}
.Vision-of-Future-card-item-1 p{
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0px;
    height: 80px;
}
.Vision-of-Future-card-item-1 button{
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(84, 144, 245);
    color: white;
    padding: 10px 20px;
    border: 1px solid rgb(84, 144, 245);
    border-radius: 8px;
}
.Vision-of-Future-card-item-1 button:hover{
    color: rgb(84, 144, 245);
    background-color: white;
    cursor: pointer;
}

.Vision-of-Future-card-item-2{
    background-color: rgb(198, 228, 214);
    padding: 40px;
    border-radius: 20px;
}
.Vision-of-Future-card-item-2 h3{
    font-size: 25px;
    font-weight: 600;
    margin: 12px 0px;
}
.Vision-of-Future-card-item-2 p{
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0px;
    height: 80px;
}
.Vision-of-Future-card-item-2 button{
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(9, 161, 92);
    color: white;
    padding: 10px 20px;
    border: 1px solid rgb(9, 161, 92);
    border-radius: 8px;
}
.Vision-of-Future-card-item-2 button:hover{
    color: rgb(9, 161, 92);
    background-color: white;
    cursor: pointer;
}

.Vision-of-Future-card-item-3{
    background-color: rgb(247, 235, 207);
    padding: 40px;
    border-radius: 20px;
}
.Vision-of-Future-card-item-3 h3{
    font-size: 25px;
    font-weight: 600;
    margin: 12px 0px;
}
.Vision-of-Future-card-item-3 p{
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0px;
    height: 80px;
}
.Vision-of-Future-card-item-3 button{
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(255, 194, 57);
    color: white;
    padding: 10px 20px;
    border: 1px solid rgb(255, 194, 57);
    border-radius: 8px;
}
.Vision-of-Future-card-item-3 button:hover{
    color: rgb(255, 194, 57);
    background-color: white;
    cursor: pointer;
}
#recent-news-section{
    width: 100%;
}

/* Recent News section style here */
.recent-news-section-content{
    margin: 60px 192px;
}
.recent-news-section-content .section-title{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}
.recent-news-section-content .description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
}
.recent-news-cards{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.recent-news-card-item{
    background-color: rgb(255, 255, 255) ;
    padding: 50px;
    border-radius: 15px;
    display: flex;
}
.recent-news-card-item .left-content img{
    border-radius: 15px;
    margin: 0px 25px ;
}
.recent-news-card-item .right-content{
    margin: 0px 25px ;
}
.recent-news-card-item h1{
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}
.recent-news-card-item .right-content img{
    margin: 10px 0px;
}
.recent-news-card-item .published-time{
    display: flex;
    gap: 15px;
}
.recent-news-card-item p{
    font-size: 18px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin: 10px 0;
}
.recent-news-card-item button{
    border-radius: 7px;
    background-color: rgb(0, 106, 80);
    color: white;
    padding: 13px 27px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgb(0, 106, 80);
    margin-top: 10px;
}
.recent-news-card-item button:hover{
    color: rgb(0, 106, 80);
    background-color: white;
    cursor: pointer;
}

/* Donate section style here */
.donate-section-content{
    margin: 60px 192px;
    text-align: center;
}
.donate-section-content h1{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}
.donate-section-content p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 18px;
    font-weight: 400;
    margin: 40px auto;
    width: 1300px;
}
.donate-section-content .ammount-boxs{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.donate-section-content .ammount-boxs input{
    cursor: pointer;
    background-color:rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.8); 
    border: 1px solid rgb(172, 162, 162);
    padding: 40px 0px;
    text-align: center; 
    font-size: 40px;
    font-weight: 700;
    border-radius: 15px;
    width: 250px;
}
.donate-section-content .ammount-boxs input:focus {
    outline: none; 
}
.donate-section-content .ammount-boxs input:hover {
    background-color: rgb(198, 228, 214);
}
.donate-section-content .manual-input{
    font-size: 20px;
    font-weight: 400;
    padding: 20px 40px;
    margin: 40px auto;
    width: 1180px;
    border: none;
    text-align: center;
}
.donate-section-content button{
    border-radius: 7px;
    background-color: rgb(0, 106, 80);
    color: white;
    padding: 13px 27px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgb(0, 106, 80);
}
.donate-section-content button:hover{
    color: rgb(0, 106, 80);
    background-color: white;
    cursor: pointer;
}

/* Newsletter section style here */
#newsletter-section{
    margin: 80px 192px;
    background-color: rgb(198, 228, 214);
    padding: 90px;
    border-radius: 20px;
}
.newsletter-section-content{
    text-align: center;
}
.newsletter-section-content h1{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}
.newsletter-section-content p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 18px;
    font-weight: 400;
    margin: 20px auto;
    width: 700px;
    line-height: 25px;
}
.newsletter-section-content input{
    font-size: 20px;
    font-weight: 400;
    padding: 13px 40px;
    width: 650px;
    border: none;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.newsletter-section-content button{
    background-color: rgb(0, 106, 80);
    color: white;
    padding: 13px 27px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgb(0, 106, 80);
    margin-left: -10px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.newsletter-section-content button:hover{
    color: rgb(0, 106, 80);
    background-color: white;
    cursor: pointer;
}